.chip {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: var(--weight-bold);
  white-space: nowrap;
  cursor: pointer;
}

.chip.selected{
    background-color: var(--primary-dark);
    color: var(--primary-light);
}