.categories {
  top: 0;
  overflow-x: auto;
  z-index: 2;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 91em) {
  .grid-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 64em) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 30em) {
  .grid-4 {
    grid-template-columns: 1fr;
  }
}
