.container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.container section {
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  padding-bottom: var(--scale-4);
}

/* Positions */
.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-sticky {
  position: sticky;
}

/* colors */

.primary-link {
  color: var(--primary);
}

.primary-link:hover {
  border-bottom: 2px solid var(--primary);
}
