.container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.container section {
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}

/* Positions */
.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}
