.container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.container > section {
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  padding-bottom: var(--scale-4);
}

/* Positions */
.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-sticky {
  position: sticky;
}

/* colors */

.primary-link {
  color: var(--primary);
  border-bottom: 2px solid transparent;
}

.primary-link:hover {
  border-bottom-color: var(--primary);
}

/* svg icons */

svg {
  color: black;
  font-weight: bold;
  stroke-width: 0.5px;
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (max-width: 70em) {
  svg {
    height: 1rem;
    width: 1rem;
  }
}
